Highberg Assignme

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# Read dataset file
df = pd.read_excel("Highberg.xlsx", engine="openpyxl")

# Create an in-memory SQLite database
engine = create_engine("sqlite:///my_temp.db")

# Load df into SQL table
df.to_sql("company", con=engine, index=False)

468

Adding SQL magic to query the data frame.

In [12]:
%load_ext sql
%sql sqlite:///my_temp.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql
PRAGMA table_info(company);

   sqlite://
 * sqlite:///my_temp.db
Done.

[(0, 'Employee_ID', 'BIGINT', 0, None, 0),
 (1, 'Start_Month', 'DATETIME', 0, None, 0),
 (2, 'Stop_Month', 'DATETIME', 0, None, 0),
 (3, 'Gender', 'TEXT', 0, None, 0),
 (4, 'Birth_Date', 'DATETIME', 0, None, 0),
 (5, 'Department', 'TEXT', 0, None, 0),
 (6, 'Salary_Scale', 'BIGINT', 0, None, 0),
 (7, 'Salary', 'BIGINT', 0, None, 0),
 (8, 'Type_of_Contract', 'TEXT', 0, None, 0),
 (9, 'Emotional_Stability', 'FLOAT', 0, None, 0),
 (10, 'Extraversion', 'FLOAT', 0, None, 0),
 (11, 'Openness', 'FLOAT', 0, None, 0),
 (12, 'Agreeableness', 'FLOAT', 0, None, 0),
 (13, 'Reliability', 'FLOAT', 0, None, 0),
 (14, 'Assessment_Score', 'FLOAT', 0, None, 0),
 (15, 'Distance_Work_KM', 'BIGINT', 0, None, 0),
 (16, 'Work_Engagement', 'FLOAT', 0, None, 0),
 (17, 'Performance_Assessment', 'BIGINT', 0, None, 0)]

In [13]:
%%sql

SELECT * FROM company LIMIT 10;

   sqlite://
 * sqlite:///my_temp.db
Done.

[(1000102, '2015-01-28 00:00:00.000000', '2017-08-28 00:00:00.000000', 'M', '1984-01-21 00:00:00.000000', 'Operations', 2, 34320, 'Permanent', 5.0, 8.0, 7.0, 9.0, 6.0, 7.0, 53, 1.2, 3),
 (1000103, '2015-03-28 00:00:00.000000', '2020-01-28 00:00:00.000000', 'M', '1972-03-03 00:00:00.000000', 'Operations', 4, 88000, 'Permanent', 4.0, 4.0, 3.0, 6.0, 5.0, 6.0, 50, 1.0, 3),
 (1010166, '2015-02-28 00:00:00.000000', None, 'M', '1957-07-17 00:00:00.000000', 'Operations', 4, 77855, 'Permanent', 2.0, 3.0, 3.0, 9.0, 6.0, 7.0, 50, 2.2, 5),
 (1010170, '2015-02-28 00:00:00.000000', '2017-10-28 00:00:00.000000', 'M', '1981-04-20 00:00:00.000000', 'Operations', 2, 32960, 'Permanent', 1.0, 9.0, 7.0, 5.0, 3.0, 7.0, 43, 1.3, 2),
 (1010171, '2015-02-28 00:00:00.000000', '2020-04-28 00:00:00.000000', 'F', '1981-03-30 00:00:00.000000', 'Operations', 2, 41620, 'Permanent', 9.0, 8.0, 5.0, 5.0, 8.0, 3.0, 35, 1.2, 1),
 (1010174, '2015-02-28 00:00:00.000000', '2017-10-28 00:00:00.000000', 'M', '1986-12-10 00:00:00.000000', 'Operations', 2, 37850, 'Permanent', 7.0, 4.0, 7.0, 2.0, 2.0, 7.0, 35, 1.6, 2),
 (1010213, '2015-04-28 00:00:00.000000', None, 'M', '1980-03-04 00:00:00.000000', 'Operations', 4, 62450, 'Permanent', 8.0, 5.0, 9.0, 9.0, 2.0, 5.0, 26, 2.0, 9),
 (1010219, '2015-04-28 00:00:00.000000', '2017-12-28 00:00:00.000000', 'M', '1972-08-21 00:00:00.000000', 'Sales', 4, 87815, 'Fixed-term', 2.0, 9.0, 9.0, 6.0, 6.0, 7.0, 43, 1.6, 4),
 (1010221, '2015-04-28 00:00:00.000000', None, 'M', '1974-06-04 00:00:00.000000', 'Operations', 4, 64190, 'Permanent', 2.0, 1.0, 6.0, 3.0, 3.0, 5.0, 60, 4.0, 8),
 (1010231, '2015-04-28 00:00:00.000000', '2017-12-28 00:00:00.000000', 'M', '1975-11-11 00:00:00.000000', 'Sales', 4, 71650, 'Fixed-term', 9.0, 6.0, 6.0, 4.0, 7.0, 7.0, 33, 3.0, 5)]

4. How many employees were working in the Operations department on 28 July 2020?

In [21]:
%%sql

SELECT COUNT(*)
FROM company
WHERE 
    department = "Operations" 
    AND '2020-07-28' BETWEEN start_month AND stop_month;

   sqlite://
 * sqlite:///my_temp.db
Done.

[(4,)]

5. How many employees in the Operations department were on permanent contracts on 28 December
2019?

In [22]:
%%sql

SELECT COUNT(*)
FROM company
WHERE 
    department = "Operations" 
    AND ('2019-12-28' BETWEEN start_month AND stop_month)
    AND type_of_contract = "Permanent";

   sqlite://
 * sqlite:///my_temp.db
Done.

[(57,)]

6. What is the average distance, in kilometres, between home and work for everyone who has ever worked at company_Y ?

In [25]:
%%sql

SELECT ROUND(AVG(distance_work_km), 2)
FROM company;

   sqlite://
 * sqlite:///my_temp.db
Done.

[(26.99,)]

7. Was there a difference, on 28 July 2020, between the average salaries of the men and women who still work there?

In [26]:
%%sql

SELECT gender, ROUND(AVG(salary), 2)
FROM company
GROUP BY gender;

   sqlite://
 * sqlite:///my_temp.db
Done.

[('F', 42559.39), ('M', 47043.4)]

8. Which factors exhibit the strongest relationship with people leaving the organisation? Design a model that predicts per employee still working there on **1 August 2020** the probability of leaving within 12 months.

In [29]:
%%sql
PRAGMA table_info(company);

   sqlite://
 * sqlite:///my_temp.db
Done.

[(0, 'Employee_ID', 'BIGINT', 0, None, 0),
 (1, 'Start_Month', 'DATETIME', 0, None, 0),
 (2, 'Stop_Month', 'DATETIME', 0, None, 0),
 (3, 'Gender', 'TEXT', 0, None, 0),
 (4, 'Birth_Date', 'DATETIME', 0, None, 0),
 (5, 'Department', 'TEXT', 0, None, 0),
 (6, 'Salary_Scale', 'BIGINT', 0, None, 0),
 (7, 'Salary', 'BIGINT', 0, None, 0),
 (8, 'Type_of_Contract', 'TEXT', 0, None, 0),
 (9, 'Emotional_Stability', 'FLOAT', 0, None, 0),
 (10, 'Extraversion', 'FLOAT', 0, None, 0),
 (11, 'Openness', 'FLOAT', 0, None, 0),
 (12, 'Agreeableness', 'FLOAT', 0, None, 0),
 (13, 'Reliability', 'FLOAT', 0, None, 0),
 (14, 'Assessment_Score', 'FLOAT', 0, None, 0),
 (15, 'Distance_Work_KM', 'BIGINT', 0, None, 0),
 (16, 'Work_Engagement', 'FLOAT', 0, None, 0),
 (17, 'Performance_Assessment', 'BIGINT', 0, None, 0)]

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import statsmodels.api as sm
import matplotlib.pyplot as plt

# Load your dataset
df = pd.read_excel("Highberg.xlsx", parse_dates=["Start_Month", "Stop_Month", "Birth_Date"])

# Filter employees still working on 1 August 2020
cutoff_date = pd.Timestamp("2020-08-01")
df = df[df['Start_Month'] <= cutoff_date]
df = df[(df['Stop_Month'].isna()) | (df['Stop_Month'] >= cutoff_date)]

# Create target variable: 1 if they left before 1 Aug 2021, else 0
df['Left_Within_12m'] = df['Stop_Month'].apply(
    lambda x: 1 if pd.notna(x) and cutoff_date < x <= cutoff_date + pd.DateOffset(years=1) else 0
)

# Convert birth date to age
df['Age'] = ((cutoff_date - df['Birth_Date']).dt.days / 365.25).astype(int)

# Select features
'''features = [
    'Age', 'Gender', 'Department', 'Salary_Scale', 'Salary',
    'Type_of_Contract', 'Emotional_Stability', 'Extraversion',
    'Openness', 'Agreeableness', 'Reliability', 'Assessment_Score',
    'Distance_Work_KM', 'Work_Engagement', 'Performance_Assessment'
]'''

features = [
    'Age', 'Salary', 'Work_Engagement', 'Type_of_Contract', 'Department'
]


# One-hot encode categorical variables
df_encoded = pd.get_dummies(df[features], drop_first=True)

# Combine target and features for cleaning
df_model = pd.concat([df_encoded, df['Left_Within_12m']], axis=1)

# Drop rows with any missing values
df_model = df_model.dropna()

# Check and convert all columns to numeric
df_model = df_model.apply(pd.to_numeric, errors='coerce')

# Separate X and y after cleaning
y = df_model['Left_Within_12m'].astype(int)
X = df_model.drop(columns=['Left_Within_12m'])

# Add intercept
X = sm.add_constant(X)

# Convert to float arrays
X_np = np.asarray(X).astype(float)
y_np = np.asarray(y).astype(float)

print(df['Left_Within_12m'].value_counts(normalize=True))

# Fit logistic regression
logit_model = sm.Logit(y_np, X_np)
result = logit_model.fit()
print(result.summary())

# Show odds ratios
odds_ratios = pd.DataFrame({
    "OR": np.exp(result.params),
    "p-value": result.pvalues
}).sort_values(by="OR", ascending=False)
print(odds_ratios)

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

#### Freestyle
Besides answering the questions, we ask you to carry out a brief analysis of the data. You can choose which analyses you wish to carry out.


* Is the difference in avg salary across sexes statistically significant? And what could explain a difference (if there is one)?
* Correlation between personality traits and department
* Correlation between contract type and department
* Visualization of average numeric variables between leavers/stayers, and between sexes, departments
* Descriptive statistics